@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Roboto+Mono:wght@300&display=swap');

/* Genera Rules */
* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
}
body *::selection {
  color: red;
}
body {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100vh;
  justify-content: center;
}
.container {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 5px #00000043;
  display: flex;
  flex-direction: column;
  max-height: 700px;
  position: relative;
  width: 400px;
}
form {
  height: 40px;
}
input {
  background-color: transparent;
  border-bottom: 1px solid rgb(110, 108, 108);
  border-left: none;
  border-right: none;
  border-top: none;
  font-family: inherit;
  font-size: 1.1em;
  padding: 0.5em 1em;
  width: 21rem;
}
input::placeholder {
  color: #535c68;
  text-align: center;
}
input:focus {
  border-bottom: 2px solid rgb(17, 9, 9);
  font-weight: bold;
  outline: none;
}
input:focus::placeholder {
  visibility: hidden;
}
.poke-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
  padding: 1rem;
  width: 100%;
}
.poke-name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}
.img-container {
  margin: 0 auto;
}
.img-container img {
  border-radius: 50%;
  cursor: zoom-in;
  width: 128px;
}
.img-container img.fullscreen {
  cursor: zoom-out;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%) translate(-50%) scale(6);
  z-index: 1;
}
.poke-id {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
.poke-types div {
  border: 1px dotted #000;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0.5rem 0;
  padding: 0.5rem;
  text-align: center;
  text-transform: capitalize;
}
.poke-stats div {
  display: flex;
  font-size: 1.13em;
  font-weight: bold;
  justify-content: space-between;
  margin: 0.5rem 0;
  text-transform: capitalize;
}
footer {
  bottom: 5px;
  font-size: 1.1em;
  font-weight: bold;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  width: fit-content;
}
